<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
<span class="sidebar__apps__sub-title">Apps</span>
<ul class = "sidebar__apps">
  <li><a href="/projects/loopify"><img src="/assets/images/loopify_rounded.png">Loopify</a></li>
  <li><a href="/projects/streamcam"><img src = "/assets/images/streamcam_rounded.png">StreamCam</a></li>
</ul>